
@model AppBootstrapSite1.Models.DashBoardMenuContent
@{
    ViewBag.Title = "Farewell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <h6 class="featurette-heading"><span class="text-muted">@Html.LabelFor(model => model.SpecialEventFresherReceptionAndFairwellHeading)</span></h6>
    <p>@Html.LabelFor(model => model.SpecialEventFresherReceptionAndFairwellDetails, new { style = "color:#ffffff" })</p>

</div>










