

@model AppBootstrapSite1.Models.DashBoardMenuContent
@{
    ViewBag.Title = "PrimaryTreatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <h6 class="featurette-heading"><span class="text-muted">@Html.LabelFor(model => model.InternetBrowsingHeading)</span></h6>
    <p>@Html.LabelFor(model => model.InternetBrowsingDetails, new { style = "color:#ffffff" })</p>

</div>





