
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">حول مادراشا <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">لدينا جاميا</a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">نجاح</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">تخصص</a></li>
    </ul>

</li>
