
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">মাদ্রাসা সম্পর্কে <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">আমাদের মাদ্রাসা</a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">আমাদের সাফল্য</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">মাদ্রাসার বৈশিষ্ট্য</a></li>
    </ul>
</li>
