
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">حول مادراشا <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">لدينا جاميا</a></li>
        <li><a href="#">نجاح</a></li>
        <li><a href="#">تخصص</a></li>
    </ul>
</li>
