<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Jamiyah <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OurMadrasha", "AboutMadrasha")">Our Jamiah</a></li>
        <li><a href="@Url.Action("OurSuccess", "AboutMadrasha")">Success</a></li>
        <li><a href="@Url.Action("MadrashaCharacteristics", "AboutMadrasha")">Speciality</a></li>
    </ul>
</li>
