
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">أكاديميون<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">الدورات</a></li>
        <li><a href="#">رسوم</a></li>
        <li><a href="#">المنهج</a></li>
        <li><a href="#">قواعد الامتحان</a></li>
        <li><a href="#">التقويم الأكاديمي</a></li>
        <li><a href="#">النتائج</a></li>
    </ul>
</li>