
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">একাডেমিক<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">কোর্স সমূহ</a></li>
        <li><a href="#">মাসিক খরচ</a></li>
        <li><a href="#">সিলেবাস</a></li>
        <li><a href="#">পরীক্ষার নির্দেশিকা</a></li>
        <li><a href="#">একাডেমিক ক্যালেন্ডার</a></li>
        <li><a href="#">প্রতিষ্ঠানিক ফলাফল</a></li>
    </ul>
</li>

