


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">প্রশাসনিক<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">চেয়ারম্যান</a></li>
        <li><a href="#">প্রিঞ্চিপাল</a></li>
        <li><a href="#">ভাইচ প্রিঞ্চিপাল</a></li>
        <li><a href="#">শিক্ষক-শিক্ষার্থীদের কমিটি</a></li>
        <li><a href="#">অভিভাবকগণের দায়িত্ব</a></li>
    </ul>
</li>
