

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> المعلومات عن الالتحاق بها<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("FormCollectionAndAdmissionProcedure", "AdmissionProcess")"> الاستمارة والأنظمة </a></li>
        <li><a href="@Url.Action("AdmissionFeesAndOtherFees", "AdmissionProcess")">رسوم الدخول ورسومات أخرى </a></li>
        <li><a href="@Url.Action("ContiniousProcessOfAdmission", "AdmissionProcess")">إجراءات الدخول</a></li>
    </ul>

</li>

