


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notice Board<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("NoticeForStudent", "NoticeBoard")">Notice for the Students </a></li>
        <li><a href="@Url.Action("AdvertisementForAppointment", "NoticeBoard")">Advertisement for appointment</a></li>
        <li><a href="@Url.Action("TenderNotice", "NoticeBoard")">Tender Notice</a></li>
    </ul>

</li>


