


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">لوح الإعلانات<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("NoticeForStudent", "NoticeBoard")">إشعار للطلاب</a></li>
        <li><a href="@Url.Action("AdvertisementForAppointment", "NoticeBoard")">إعلان للتعيين</a></li>
        <li><a href="@Url.Action("TenderNotice", "NoticeBoard")">إشعار المناقصة</a></li>
    </ul>

</li>


